.cart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.cart-header {
  display: grid;
  grid-template-columns: 1fr 300px auto auto;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 300px auto auto;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
#title {
  flex: 1;
  text-align: center;
  margin: 5%;
}

.cart-item-title {
  font-size: 18px;
  margin: 0;
}

.cart-item-price {
  font-size: 20px;
  font-weight: bold;
}

.cart-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

#removeCart,
#buy {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#removeCart {
  background-color: #fa2f2f;
  color: white;
}

#removeCart:hover {
  background-color: #820606;
}

#buy {
  background-color: #36cb09;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buy:hover {
  background-color: darkgreen;
}
