.dark {
  background-color: #1f1f1f;
  color: #cccccc;
}

.light {
  background-color: white;
  color: black;
}

#btnDark {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 25px;
  right: 70px;
  font-size: 24px;
  padding: 4px 8px;
  cursor: pointer;
}
