.navbar-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.logo {
  position: sticky;
  width: 90px;
  border-radius: 70px;
  background-color: white;
}
.link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.item {
  list-style: none;
}
