.navbar-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  text-decoration: none;
}

.logo {
  position: sticky;
  width: 65px;
  border-radius: 70px;
  background-color: white;
}
.link {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 22px;
  margin-left: 20%;
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}
